@model IEnumerable<RetailUp.Models.ItemToSell>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemToSellId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemAddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemRemained)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemLeft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemToSellId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemAddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemRemained)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemLeft)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ItemToSellId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ItemToSellId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ItemToSellId })
            </td>
        </tr>
}
    </tbody>
</table>
